.About {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    padding: 50px 200px;
    color: white;
    font-size: 1.5rem;
}

.About__title {
    margin-bottom: 100px;
    color: white;

}

.About__content {
    margin-bottom: 50px;
    color: white;

}